<!--
  <div class="container" *ngIf="!isDashboard">
  <div class="row" #clear>
    <div [ngClass]="isWarning ? 'card bg-warning mb-3' : 'card border-secondary mb-3'" style="max-width: 20rem;" *ngFor="let product of products">
      <div class="card-header">
        <h4>

          <div class="card-title">
            <img src="https://www.hokben.co.id/assets-front/img/logo.png" width="30" height="30"> {{ product.name }}</div>
        </h4>
        <div class="card-text">Holding Time: {{ product.duration }} minutes</div>
      </div>
      <div class="card-body">
        <span *ngIf="product.isClicked;then clear else blink"></span>
        <ng-template #clear>
          <img class="img-fluid" src="{{product.img}}" alt="{{product.name}}">
        </ng-template>
        <ng-template #blink>
          <img class="img-fluid" src="{{product.img}}" alt="{{product.name}}">
        </ng-template>
      </div>
    </div>
  </div>
</div>
-->

<div class="flex-container" *ngIf="isDashboard">
  <mat-card color="warn" class="example-card" *ngFor="let product of products">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>Holding Time: {{product.duration}} hour(s)
        <!--countdown-timer [start]="'2018-03-10 00:00:00'"></countdown-timer-->
      </mat-card-subtitle>
    </mat-card-header>
    <span *ngIf="product.isClicked==0;then clear else blink"></span>
    <ng-template #clear>
      <img mat-card-image src="{{product.img}}" alt="{{product.name}}" (click)="showTheGrid(product)">
    </ng-template>
    <ng-template #blink>
      <img mat-card-image src="{{product.img}}" alt="{{product.name}}">
    </ng-template>
  </mat-card>
</div>


<div class="basic-container" *ngIf="isGrid">
    <mat-grid-list cols="10" rowHeight="100px">
      <mat-grid-tile (click)="gridClick(product,id,tile.text)" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>